
nav {
  font-family: 'Bungee', cursive;
  font-size: 160%;
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 6;
  background-color:#4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  padding: 22px;
}

.navright {
  padding: 7px;
}

.writeout {
  font-size: 50%;
}

.hand-down {
  position: relative;
  left: 95px;
  font-size: 40px;
  padding: 5px;
  
}

.fa-hand-point-down {
  background: transparent;
  border: none;
  color: #FFFFFF;
}

.fa-hand-point-down:hover {
  transform: scale(1.4);
  color: orange;
}

@media all and (max-width: 615px) {
  .writeout {display:none;}
  div.hand-down {position: static ;font-size: 40px}
  .post-tweet:hover .userAt {display: none;}

}