.new-tweet {
  z-index: 5;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

#textbox {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3.5px solid rgb(92, 92, 92);
  height: 2.5em;
  line-height: 15px;
  width: 100%;
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
}

#submit {
  font-family: 'Bungee', cursive;
  background-color:#4056A1;
  color: #FFFFFF;
  float: left;
  margin: 1.73%;
  width: 110px;
}

.counter {
  font-family: 'Bungee', cursive;
  float: right;
  margin: 1.51%;
  width: 7%;
}

.new-tweet-form {
  display: none;
}